<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Petshop</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/myaccount</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MyInfoServlet</display-name>
		<servlet-name>MyInfoServlet</servlet-name>
		<servlet-class>controller.MyInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyInfoServlet</servlet-name>
		<url-pattern>/myinfo</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>MyAccountFilter</display-name>
		<filter-name>MyAccountFilter</filter-name>
		<filter-class>controller.MyAccountFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyAccountFilter</filter-name>
		<url-pattern>/myaccount.jsp</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>LogOutServlet</display-name>
		<servlet-name>LogOutServlet</servlet-name>
		<servlet-class>controller.LogOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ContactServlet</display-name>
		<servlet-name>ContactServlet</servlet-name>
		<servlet-class>controller.ContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactServlet</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateInfoServlet</display-name>
		<servlet-name>UpdateInfoServlet</servlet-name>
		<servlet-class>controller.UpdateInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateInfoServlet</servlet-name>
		<url-pattern>/updateinfo</url-pattern>
	</servlet-mapping>
</web-app>